html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: #555555;
}
svg {
    display: block; /* removes the bottom margin/gap */
    background: #afafaf;
    width: 100vw;
    height: 100vh;
}
text {
    font-family: Arial, sans-serif;
    font-size: 16px;
    pointer-events: none; /* Prevents text from interfering with click events */
}

#cliHistoryContainer {
    position: fixed;
    left: 0;
    right: 70%;
    bottom: 50px; /* Position it just above the command line */
    padding: 5px;
    background: rgba(255, 255, 255, 0.5);  /* Slightly opaque background for visibility */
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #000000;
}

#cliContainer {
    position: fixed;
    left: 0;
    right: 70%;
    bottom: 0;
    padding: 10px;
    background: rgba(255, 255, 255, 0);  /* Fully transparent background */
}

#cliInput {
    width: 100%;
    height: 30px;
    border: none;  /* No border */
    font-size: 16px;
    background: transparent;  /* Transparent input field */
    outline: none;  /* Removes the highlight when focused */
}
