html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: #555555;
}
svg {
    display: block; /* removes bottom margin/gap */
    background: #afafaf;
    width: 100vw;
    height: 100vh;
}
text {
    font-family: Arial, sans-serif;
    font-size: 16px;
    pointer-events: none; /* Prevents text from interfering with click events */
}

#mainCLIContainer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: auto; /* Auto adjusts based on content */
    min-width: 20%;
    display: flex;
    flex-direction: column; 
    align-items: stretch; /* children take the full width */
}

#cliHistoryContainer {
    padding: 5px;
    background: rgba(255, 255, 255, 0.1);  /* Slightly opaque background for visibility */
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #000000;
    flex-grow: 1; /* Allow it to grow */
    overflow-y: auto; /* Allow scrolling if content overflows */
}

#cliContainer {
    padding: 5px;
    background: rgba(255, 255, 255, 0.4);  /* Fully transparent background */
    font-size: 16px;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

#commandPrefix {
    flex-shrink: 0; /* Prevent the prefix from shrinking */
    white-space: nowrap; /* Prevent wrapping of the prefix text */
    overflow: hidden; /* Hide any overflow content */
    text-overflow: ellipsis; /* Optionally add ellipsis for overflow text */
}

#cliInput {
    flex-grow: 1; /* Allow the input to take the remaining space */
    min-width: 0; /* Ensure the input can shrink properly */
    height: 30px;
    border: none;  /* No border */
    font-size: 16px;
    background: transparent;  /* Transparent input field */
    outline: none;  /* Removes the highlight when focused */
}

